{-# LANGUAGE OverloadedStrings #-}
module Config
  (testConsumer, accessToken)
where

import Web.XING.Auth

testConsumer :: OAuth
testConsumer = consumer
  "YOUR_CONSUMER_KEY"
  "YOUR_CONSUMER_SECRET"

accessToken :: Maybe Credential
accessToken = Nothing
-- accessToken = Just $ newCredential
--   "YOUR_ACCESS_TOKEN"
--   "YOUR_ACCESS_TOKEN_SECRET"
